<header>
	<h1>Лендінг, розробка сайтів в Чернівцях</h1>	
	
</header>
<nav class="nav">
	<ul class="nav navbar-nav">
		<li><a class="color1" href="">Навички</a></li>
		<li><a class="color2" href="">Портфоліо</a></li>
		<li><a class="color3" href="">Освіта</a></li>
		<li><a class="color4" href="">Сертифікати</a></li>
		<li><a class="color5" href="">Контакти</a></li>
	</ul>
</nav>
<div class="nav-line">
	<div class="line bcolor1"></div>
	<div class="line bcolor2"></div>
	<div class="line bcolor3"></div>
	<div class="line bcolor4"></div>
	<div class="line bcolor5"></div>
</div>