<div class="back-menu">
	<div class="circle1"></div>
    <div class="circle2"></div>
     <footer>
          <p>Duchevych Tetyana &copy; 2017</p>
      </footer>
</div>
<div class="back">
  <div class="circle1"></div>
</div>
 <div class="container">
     <header>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
             <h1 class="logo">Тетяна Дучевич</h1>
             <h2 class="sub-logo">junior web-developer</h2>
            </div>
        </div>
     </header>
      <div class="row">
          <div class="col-lg-1">
               <div id="menu">
                  <div class="gamburger">
                       <div class="line"></div>
                       <div class="line"></div>
                       <div class="line"></div>
                    </div>
                    <div class="close">
                        <span> &times;</span>
                    </div>
                   <ul class="menu-list">
                   <script data-path="base" id="navbar" type="text/x-handlebars-template">
						{{#each navbarNav}}
							<li><a href="{{navbarNavLink}}">{{navbarNavName}}</a></li>
						{{/each}}
					</script>
                    </ul>    
               </div>              
          </div>
