<div class="col-lg-1 col-lg-offset-1">
  <div class="icons">
    <div class="icon">
        <a href="tel: +380997289460">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="Skype: duchevich?call">
             <i class="fa fa-skype" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="https://www.facebook.com/duchevich">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="https://www.linkedin.com/in/duchevychtetyana/">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="https://twitter.com/tekkelili">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="https://vk.com/duchevich">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </a>
      </div>
      <div class="icon">
        <a href="mailto: duchevich274@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
  </div>
</div>