<div class="col-lg-1 col-lg-offset-1">
  <div class="icons">
    <div class="icon">
        <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="">
             <i class="fa fa-skype" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
    </div>
    <div class="icon">
        <a href="">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </a>
      </div>
      <div class="icon">
        <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    </div>
  </div>
</div>