div.header.navbar
	div.container
		div.navbar-header
			h1.logo-h1 TEXT SPASE
			h3.logo-h3 LOREN IPSUM
		div.navbar-collapse#navbar-collapse
			div.navbar-right
				ul.nav.navbar-nav
					li
						img.social-bottom(src="/images/favicons/logo.svg" alt="vkontakte")
					li
						img.social-bottom(src="/images/favicons/social-network.svg" alt="facebook")
					li
						img.social-bottom(src="/images/favicons/social-network-1.svg" alt="facebook")
					li
						img.social-bottom(src="/images/favicons/symbol.svg" alt="facebook")
					li
						img.social-bottom(src="/images/favicons/symbol-1.svg" alt="facebook")
					li
						img.social-bottom(src="/images/favicons/share.svg" alt="facebook")
				h2.telephone 0 (000) 000-00-00