doctype
html(lang="ru")

	head
		include includes/head
		title Project Title

	body
		div.modal.fade#myModal(role="dialog")
			div.modal-dialog
				div.modal-content
					form(action="#")
						div.modal-header
							button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
							h3.modal-title Зробити замовлення:
						div.modal-body
							
								div.form-group
									label(for="myEmail") Введіть ваш e-mail
									input#myEmail(type="email" name="myEmail" required)
								div.form-group
									label.control-label(for='feedback') Ваше замовлення
									textarea#feedback.form-control(name='feedback', rows='12')
									
						div.modal-footer
							button.btn.btn-primary(type="submit") Надіслати
		include includes/navbar
		
		div.container
			div.block
				div.logo
					img.img-logo(src="/images/logo.gif", alt="header picture")
				
				div.main-text
					br
					h1 Від візитки до білборда
					h2 Цифрова та широкоформатна поліграфія
					h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <br> consequat. 
					br
					button.main-button(href="#myModal" role="button" data-toggle="modal") Замовити
		div.container
			div.block1#container
				div.wrap.item.color1
					div.front.img
						h4 Візитки
						img.width1(src="images/visitki.png", alt="visitka")
					div.back.img.back-hor
						h4 Візитки
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.item-ver.color2
					div.front.img
						h4 Календарі
						img.width4(src="images/calendar.png", alt="calendar")
					div.back.img.back-hor
						h4 Календарі
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color3
					div.front.img.img-ver
						h4 Плакати
						img.width3(src="images/plakat_img1.png", alt="plakat")
					div.back.img.img-ver.back-ver
						h4 Плакати
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color4
					div.front.img
						img.width4(src="images/broshura.png", alt="broshura")
						h4 Брошури
					div.back.img.back-hor
						h4 Брошури
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color5
					div.front.img.img-ver
						img.width2(src="images/buclet.png", alt="buclet")
						h4 Буклети
					div.back.img.img-ver.back-ver
						h4 Буклети
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color6
					div.front.img
						img.width3(src="images/papka.png", alt="papka")
						h4 Папки
					div.back.img.back-hor
						h4 Папки
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color7
					div.front.img.img-ver
						h4 Конверти
						img.width1(src="images/konvert.png", alt="konvert")
					div.back.img.img-ver.back-ver
						h4 Конверти
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.color8
					div.front.img
						h4 Каталоги
						img.width3(src="images/katalog.png", alt="katalog")
					div.back.img.back-hor
						h4 Каталоги
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")
				div.wrap.item.item-hor.color9
					div.front.img.img-ver
						img.width5.img-9-title(src="images/flayer.png", alt="flayer")
						h4 Флаєри
					div.back.img.img-ver.back-ver
						div.back-item9-p
							p термін виконання:  від 3 днів
							p від 49 грн за 100 штук
							a(href="#myModal" role="button" data-toggle="modal")
								img.buy-icon(src="images/buy.png", alt="buy")
						div.back-item9-h
							h4 Флаєри
				div.wrap.item.color10
					div.front.img
						img.width2(src="images/otkritka.png", alt="otkritka")
						h4 Листівки
					div.back.img.back-hor
						h4 Листівки
						p термін виконання:  від 3 днів
						p від 49 грн за 100 штук
						a(href="#myModal" role="button" data-toggle="modal")
							img.buy-icon(src="images/buy.png", alt="buy")

		div.container
			div.block2


		include includes/footer
		
		script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
		script(src="scripts/pack.min.js")
		script(type='text/javascript', src='/scripts/jquery.slicebox.js')