<!DOCTYPE html>
<html>
<head>
	@@include('head')
	<script data-path="homepage" id="head" type="text/x-handlebars-template">
		<title>{{pageTitle}}</title>
	</script>
</head>
<body>
	@@include('navbar')
	<div class="col-lg-8 col-lg-offset-1">
		<div class="section" id="main">
			<div class="text-block">
				<h2>Головна</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis nihil natus. Quaerat eveniet totam impedit magnam placeat, repellat officia. </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit asperiores ratione, laborum eaque sint, quidem. Dolorem rerum quibusdam mollitia pariatur amet totam inventore consequatur molestiae veritatis. Nulla quae, commodi ut?</p>
			</div>
			<a class="button" href="#about">Про мене</a>
		</div>
		<div class="section" id="about">
			<div class="text-block">
				<h2>Про мене</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis nihil natus. Quaerat eveniet totam impedit magnam placeat, repellat officia. Soluta eius, esse odit vitae eveniet repellendus aut ea? Maxime!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit asperiores ratione, laborum eaque sint, quidem. Dolorem rerum quibusdam mollitia pariatur amet totam inventore consequatur molestiae veritatis. Nulla quae, commodi ut?</p>
			</div>
			<a class="button" href="#portfolio">Портфоліо</a>
		</div>
		<div class="section" id="portfolio">
			<div class="text-block">
				<h2>Портфоліо</h2>
				<script data-path="homepage" id="portfolio1" type="text/x-handlebars-template">
							{{#each pageContentPortfolio}}
								
									<div class="item">
										<a href="{{contentSite}}">
										<img src="images/{{contentImg}}" alt="{{contentImgAlt}}" title="{{contentImgTitle}}">
										</a>
										<a class="portfolio-a" href="{{contentSite}}">Перейти на сайт</a>
										<a class="portfolio-a" href="{{contentCode}}">Переглянути код</a>
										<p class="portfolio-item-title">{{contentName}}</p>
										<p>{{contentAbout}}<br>
										{{contentData}}</p>
								</div>
							{{/each}}
						</script>
			</div>
			<a class="button" href="#sertificates">Освіта</a>
		</div>
		<div class="section" id="sertificates">
			<div class="text-block">
				<h2>Освіта</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis nihil natus. Quaerat eveniet totam impedit magnam placeat, repellat officia. Soluta eius, esse odit vitae eveniet repellendus aut ea? Maxime!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit asperiores ratione, laborum eaque sint, quidem. Dolorem rerum quibusdam mollitia pariatur amet totam inventore consequatur molestiae veritatis. Nulla quae, commodi ut?</p>
			</div>
			<a class="button" href="#contacts">Контакти</a>
		</div>
		<div class="section" id="contacts">
			<div class="text-block">
				<h2>Контакти</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis nihil natus. Quaerat eveniet totam impedit magnam placeat, repellat officia. Soluta eius, esse odit vitae eveniet repellendus aut ea? Maxime!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit asperiores ratione, laborum eaque sint, quidem. Dolorem rerum quibusdam mollitia pariatur amet totam inventore consequatur molestiae veritatis. Nulla quae, commodi ut?</p>
			</div>
			<a class="button" href="#main">Головна</a>
		</div>
	</div>

	@@include('social')
	<!-- <script data-path="homepage" id="content" type="text/x-handlebars-template">
		{{#each pageContent}}
			<div>{{contentName}}</div>
			<div>{{contentData}}</div>
		{{/each}}
	</script> -->
	@@include('footer')
	@@include('scripts')
</body>
</html>