<!DOCTYPE html>
<html>
<head>
	@@include('head')
	<script data-path="homepage" id="head" type="text/x-handlebars-template">
		<title>{{pageTitle}}</title>
	</script>
</head>
<body>
	@@include('navbar')
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="section-about">
						<h2>Про мене</h2>
						<img class="myphoto" src="images/myphoto.jpg" alt="">
						<p>Доброго дня! Мене зовуть Тетяна, я - веб-розробник.</p>
						<p></p>
					</div>		
				</div>
				<div class="col-md-9">
					<section class="section-portfolio">
						<h2>Моє портфоліо</h2>
						<script data-path="homepage" id="portfolio" type="text/x-handlebars-template">
							{{#each pageContentPortfolio}}
								<div class="slide">
									<div class="item">
									<div class="left">
										<img src="images/{{contentImg}}" alt="{{contentImgAlt}}" title="{{contentImgTitle}}">
										<p><a href="{{contentSite}}">Перейти на сайт</a></p>	
										<p><a href="{{contentCode}}">Подивитись код</a></p>
									</div>
									<div class="right">
										<p>{{contentName}}</p>
										<p>{{contentAbout}}</p>
										<p>{{contentData}}</p>
									</div>
								</div>
								</div>
							{{/each}}
						</script>
					</section>
				</div>	
			</div>
		</div>
	</main>
	@@include('footer')
	@@include('scripts')
</body>
</html>