.navbar{
	
}

.navbar-header{}
.navbar-logo{}

.navbar-collapse{}
.navbar-nav{
	li{
		a{
			font-size: 18px;
		}
		a{
			&:hover,
			&:focus,
			&:active{
				color: white;
				opacity: 0.8;
			}
		}
		a.color1{
			&:hover,
			&:focus,
			&:active{
				background: #FFBB00;
				
			}
		}
		a.color2{
			&:hover,
			&:focus,
			&:active{
				background: #9CEE00;
				
			}
		}
		a.color3{
			&:hover,
			&:focus,
			&:active{
				background: #F20026;
				
			}
		}
		a.color4{
			&:hover,
			&:focus,
			&:active{
				background: #131FB5;
				
			}
		}
		a.color5{
			&:hover,
			&:focus,
			&:active{
				background: #7163BD;
				
			}
		}
	}
}
.nav-line{
	
}
.line{
	width: 20%;
	height: 5px;
	float: left;
}
.color1{
	color: #FFBB00;
}

.color2{
	color: #9CEE00;
}
.color3{
	color: #F20026;
}
.color4{
	color: #131FB5;
}
.color5{
	color: #7163BD;
}
.bcolor1{
	background: #FFBB00;
}
.bcolor2{
	background: #9CEE00;
}
.bcolor3{
	background: #F20026;
}
.bcolor4{
	background: #131FB5;
}
.bcolor5{
	background: #7163BD;
}
li>a:hover{
	background: #FFBB00;
}