h1, h2{
	text-align: center;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
	margin: 0;
}
body{
	background: #cebfc4;
}
header{
	background: #162238;
	//margin: 0;
	//display: block;
	h1{
		margin: 0;
		padding: 20px;
		color: white;
	}
}
.section-about{
	background: #4d4e5c;
	width: 600px;
	height: 1000px;
	float: left;
	text-align: center;
	h2, p{
		color: white;	
	}
	img{
		width: 300px;
		border-radius: 100%;
		padding: 20px;	
	}
}
.section-portfolio{
	background: #c7cfdd;
	width: auto;
	.item{
		height: 400px;
	}
	.left{
		float: left;
		img{
			width: 500px;
			padding: 20px;
		}
		p{
			text-align: center;
			width: inherit;	
		}
		
	}
	.right{
		float: left;
		text-align: center;
			p{
			margin-top: 20px;		
			}	
		}
}
.section-sertificate{
	background: #cebfc4;
}
