/*_____ section _____*/
.section{
    color: @c-dark;
    line-height: 1.2;
}
.section h2{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0;
}
.section h3{
    margin-top: 0;
    font-size: 35px;
}
.section p{
    font-size: 20px;
}
.text-block{
	overflow: auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.button{
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    background: @c-success;
    //background: linear-gradient(to right, #947ab9 ,#ea7182);
    border-radius: 50px;
    display: block;
    width: 200px;
    margin: 50px 0;
    text-align: center;
   // box-sizing: border-box;
    //position: absolute;
    //bottom: 10px;
}
.button:hover{
    color: white;
    text-decoration: none;
    background: #ea7182;
}

.item{
    width: 32%;
    background: #c7cfdd;
    //height: 400px;
    //border:1px solid black;
    //position: relative;
    float: left;
    margin: 5px;

    float: left;
    img{
        width: 100%;
        padding: 15px;
        padding-bottom: 5px;
    }
    .portfolio-item-title{
        font-weight: bold;
    }
    p{
        width: 100%;
        text-align: center; 
    }
    .portfolio-a{
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        color:  #131FB5;
        padding-bottom: 8px;
    }
}